<div class="btn-group-game-controls">
    <button mat-raised-button class="btn-game-control" (click)="joinRemoteGame()" *ngIf="!isJoinedGame">Join Game</button>
    <button mat-raised-button class="btn-game-control" (click)="leaveRemoteGame()" *ngIf="isJoinedGame">Leave Game</button>
    <button mat-raised-button class="btn-game-control" (click)="saveGame()">Save Game</button>
    <button mat-raised-button class="btn-game-control" (click)="loadGame()">Load Game</button>
    <button mat-raised-button class="btn-game-control" (click)="newGame()">New Game</button>
</div>

