<div class="search-box">
    <input type="text" (keyup)="onSearch()" [(ngModel)]="searchText" placeholder="Search">
</div>

<div class="rules" id="rules">
    <div *ngFor="let section of rules[ruleSet]">

        <div class="section-header">{{ section.category }}</div>
        <div class="subheader" *ngIf="section.hasOwnProperty('subheader')">{{ section.subheader }}</div>

        <div [ngSwitch]="section.type">
            <ol *ngSwitchCase="'ol'">
                <li *ngFor="let rule of section.text" (click)="toggleSubtext($event)" class="text-section" [ngClass]="{'pointer': rule.hasOwnProperty('subtext')}">
                    {{ rule.main }}
                    <i *ngIf="rule.hasOwnProperty('subtext')"></i>
                    <div class="subtext">
                        {{ rule.subtext }}
                    </div>
                </li>
            </ol>
            <ul *ngSwitchCase="'ul'">
                <li *ngFor="let rule of section.text" (click)="toggleSubtext($event)" class="text-section" [ngClass]="{'pointer': rule.hasOwnProperty('subtext')}">
                    {{ rule.main }}
                    <i *ngIf="rule.hasOwnProperty('subtext')"></i>
                    <div class="subtext">
                        {{ rule.subtext }}
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
