.cities-container {
    display: flex;
    flex-wrap: wrap;

    .city-container {
        margin: 25px 0;
        width: 25%;
    
        .city-row {
            padding: 5px;
    
            &.city-name {
                font-weight: 800;
            }

            button {
                background-color: burlywood;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: rgb(133, 109, 79);
                    color: white;
                }
            }
        }
    }
}

.epidemic-button {
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    height: 2em;
    margin: 15px auto;
    width: 150px;

    &:hover {
        background-color: rgb(62, 148, 119);
    }
}