<div>
    <h3>Pandemic Legacy</h3>
    <div class="season-option" routerLink="/legacy/season-one">
        <div class="season-picture">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FvOjEwojj6vY%2Fmaxresdefault.jpg&f=1&nofb=1" alt="" srcset="">
        </div>
        <p class="season-title">Season One</p>
        <div class="season-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam aliquid quasi labore molestiae fugit illum laudantium sed pariatur mollitia vero natus quod numquam libero, ut, esse incidunt. Doloribus, asperiores sapiente.
        </div>
    </div>
    <div class="season-option" routerLink="/legacy/season-two">
        <div class="season-picture">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FvOjEwojj6vY%2Fmaxresdefault.jpg&f=1&nofb=1" alt="" srcset="">
        </div>
        <p class="season-title">Season Two</p>
        <div class="season-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, vel? Voluptas illum obcaecati aut rem consectetur quia expedita. Vitae neque ex maiores iste enim cupiditate quia illum eum eveniet. Unde?
        </div>
    </div>
</div>
