<div>
    <p class="game-id-content">Game ID: <span class="game-id">{{ gameId }}</span></p>
    <div class="btn-group-game-controls">
        <button mat-raised-button class="btn-game-control" (click)="leaveRemoteGame()">Leave game</button>
    </div>
</div>

<app-infection-rate></app-infection-rate>

<table mat-table [dataSource]="deck" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
        <td mat-cell *matCellDef="let city"> {{ city.name }} </td>
    </ng-container>

    <ng-container matColumnDef="chance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Chance to Draw </th>
        <td mat-cell *matCellDef="let city"> {{ city.chance() }}% </td>
    </ng-container>

    <ng-container matColumnDef="totalOfCard">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> In Deck </th>
        <td mat-cell *matCellDef="let city"> {{ city.inDeck(city) }} </td>
    </ng-container>

    <ng-container matColumnDef="numInPiles">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Drawn </th>
        <td mat-cell *matCellDef="let city"> {{ city.currDrawn }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let city">
            <button mat-raised-button (click)="draw(city.name)" color="accent"  [disabled]="isWebsocketOpen && !isGameMaster">Draw</button>
        </td>
    </ng-container>

    <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef> Notes </th>
        <td mat-cell *matCellDef="let city">
            <button mat-button (click)="openNotes(city.name)"  [ngClass]="{'highlight': city.notes.length > 0}"> ({{ city.notes.length }}) </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

<button (click)="epidemic()" class="vanilla-button btn-epidemic" mat-raised-button color="warn">Epidemic</button>
<button class="vanilla-button" mat-button [routerLink]="['/rules', 'vanilla']">Open Rulebook</button>

<div *ngIf="isWebsocketOpen">
    <p>Player List</p>
    <p *ngFor="let player of playerList">{{ player }}</p>
</div>

<app-game-history></app-game-history>
