.rate-container {
    display: flex;
    justify-content: space-evenly;

    .rate-number {    
        font-size: 16px;
        margin: 5px 25px;
        padding: 5px;
    
        &.active {
            color: red;
            font-weight: 800;
        }
    }
}