<div class="vanilla-content">

    <div class="game-name">
        <label for="">Name: </label>
        <input type="text" name="" id="" [(ngModel)]="gameName" [value]="gameName" (blur)="setGameName()">
    </div>
    
    <p class="game-id">Game ID: <span class="id">{{ gameId }}</span></p>

    <app-logistics-btn-group [dialog]="dialog" [isJoinedGame]="isJoinedGame"></app-logistics-btn-group>
    <app-vanilla-city-table></app-vanilla-city-table>

    <div class="player-list">
        <p>Player List</p>
        <ul>
            <li *ngFor="let player of playerList | keyvalue" [ngClass]="{'game-master': player.value}">{{ player.key }}</li>
        </ul>
    </div>

</div>
