.game-id-content {
    text-align: center;

    .game-id {
        font-family: 'Roboto Mono', serif;
        font-size: 20px;
        letter-spacing: 2px;
    }
}

.mat-table {
    margin: 0 auto;
    width: 90%;

    .mat-raised-button {
        background-color: #e0e41c;
    }

    .mat-raised-button:hover {
        background-color: #a9ac16;
    }
}

.vanilla-button {
    display: block;
    margin: 30px auto;
    width: 25%;

    &.btn-epidemic:hover {
        background-color: #bd342a;
    }
}

.highlight {
    color: #e0e41c;
}