.mat-table {
    margin: 0 auto;
    width: 90%;

    .mat-raised-button:hover {
        background-color: #f0f0f0;
    }
}

.btn-epidemic {
    display: block;
    margin: 30px auto;
    width: 25%;
}